:root {
    --primary-color: #1d2952;
    --secondary-color: #eab419;
    --tertiary-color: #ee3532;
    --footer-bg-color: #28283F;
    --navigation-top-bg-color: #28283F;
    --text-primary-color: #fff;
    --text-secondary-color: #000;
    --text-tertiary-color: #1d2952;
    --text-quaternary-color: #ee3532;
    --font-size: 16px;
}


.justify-items-left {
    justify-items: left;
}




.blog-news,
.categories,
.slider {
    .trk-btn--secondary1 {
        background-color: #1c2951;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
}

.logo {

    img {
        width: 200px;
    }
}

#scrollUp {
    bottom: 10px;
    right: 2%;
    left: unset;
    position: fixed;
    z-index: 99999999;
    background: rgba(246, 141, 46, .8);
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: table;
    text-align: center;
    padding: 6px;
    font-size: 24px;
}


.justify-content-right {
    justify-content: right;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.modal {
    z-index: 9999 !important;
}

.modal-backdrop {
    z-index: 9998 !important;
}

.flaot-right {
    float: right !important;
}

.flaot-left {
    float: left !important;
}

.scrolled {
    top: 0px !important;
}

.modal.fade .modal-dialog {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out !important;
    transform: translate(0, -25%);
    opacity: 0;
}

.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.info-section {
    background: #012420;

    .inner-container {
        background: transparent;
    }

    .bg-layer {
        position: absolute;
        left: 260px;
        top: 0px;
        width: calc(100% - 260px);
        height: 100%;
        background: #012420;
    }
}

.main-menu {
    .navigation {
        li {
            padding: 38px 0px 38px 0px;

            a {
                position: relative;
                display: block;
                text-align: center;
                font-size: 16px;
                line-height: 30px;
                opacity: 1;
                font-family: 'Rubik', sans-serif;
                color: #71747a;
                z-index: 1;
                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
                text-transform: capitalize;
            }
        }

        .dropdown {
            &::after {}
        }


    }
}

.clients-section {
    position: relative;
    padding: 100px 0px 100px 0px;
}

.mobile-menu .navigation li.current {
    background: #007a6c;
}

.mobile-menu .close-btn {
    right: 6px;
    top: 2px;
}

.header-style-one {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    width: 100%;
}

/* theme styles */

.handle-preloader {
    background: #a07f62;
}

.info-section .bg-layer:before {
    display: none;
}

.main-header .menu-right-content .support-box .icon {
    color: #8e6644;
}

.main-header .menu-right-content .btn-box a {
    background: #f7bf39;
    text-align: center;
    color: #fff !important;
    text-shadow: 0px 0px 2px black;
}

.header-top {
    position: relative;
    background: #00443c;
    padding: 7px 80px 6px 100px;
}

.cta-section .bg-layer {
    width: 100%;
    height: 100%;
}

.main-footer {
    .footer-top {
        position: relative;
        padding: 114px 0px 110px 0px;
        background-color: #00342e;
    }

    .footer-bottom {
        padding: 30px 0px;
        background: #011e1b;
    }
}

.info-section .single-item {
    position: relative;
    display: block;
    padding-left: 83px;
    padding-right: 30px;
    color: #fff;

    p {
        color: #fff;
    }
}

.font-family-1>* {
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-family-2>* {
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-family-3>* {
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.theme-btn.btn-one {
    /* background: #462304; */
    background: #00342e;
}

.theme-btn.btn-one.btn2 {
    /* background: #462304; */
    /* background: #00342e !important; */
}

.main-header .menu-right-content .support-box .icon {
    background: #e7e2db;
}

.chooseus-section .content-box .content-inner .theme-btn {
    background: #00342e;
    padding: 16.5px 52px;
}

.banner-carousel {
    .owl-item {
        .theme-btn.btn-one {
            background: #f7bf39;
            border: 1px solid #fff;
            color: #00342e !important;

            &:hover {
                color: #fff !important;
            }
        }

        .theme-btn.btn-one.btn2 {
            background: #00342e !important;
            color: #fff !important;
        }
    }
}

.theme-btn.btn-one.btn3 {
    background: #f7bf39 !important;
    color: #00342e !important;

    &:hover {
        color: #fff !important;
    }
}

.banner-carousel .content-box {
    position: relative;
    display: block;
    z-index: 5;
    width: 100%;
    max-width: 900px;
}

p {
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: #3e3e3e;
    margin: 0px;
    transition: all 500ms ease;
}


.banner-carousel .content-box h2 {
    position: relative;
    display: block;
    color: #fff;
    font-size: 65px;
    line-height: 76px;
    font-weight: 900;
    margin-bottom: 39px;
    opacity: 0;
    text-transform: uppercase;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}


.page-main-title>h1,
.page-main-title>h2,
.page-main-title>h3,
.page-main-title>h4,
.page-main-title>h5,
.page-main-title>h6 {
    color: #8a5f3c;
    font-weight: 800;
    padding-bottom: 15px;
    font-size: 50px;
}

.page-sub-title>h1,
.page-sub-title>h2,
.page-sub-title>h3,
.page-sub-title>h4,
.page-sub-title>h5,
.page-sub-title>h6 {
    color: #8a5f3c;
    font-weight: 800;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 20px;
    font-size: 40px;
    border-left: 6px solid #8a5f3c;
    margin: 15px 0px 15px 20px;
}

.blog_details>h1,
.blog_details>h2,
.blog_details>h3,
.blog_details>h4,
.blog_details>h5,
.blog_details>h6 {
    color: #8a5f3c !important;
    font-weight: 800;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 20px;
    font-size: 40px;
    border-left: 6px solid #8a5f3c;
    margin: 15px 0px 15px 20px;
}

#newsletterForm .error {
    color: red;
}


p {
    font-family: 'Source Sans 3', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    /* color: #3e3e3e; */
    color: #322c2a;
    font-size: 18px;
    line-height: 1.2;
}


#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow:
        calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
        calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
        calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
        calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
        calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
        calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
        calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
    position: relative;
    z-index: 99999;
}

@keyframes l27 {
    100% {
        transform: rotate(1turn);
    }
}

/* end theme style */